{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% import 'includes/_card.html.twig' as card %}

{% macro getLatestScores(scores) %}
    {{ include('index/latestScoresTable.html.twig', {'scores': scores}) }}
{% endmacro %}

{% block body %}
    <div class="w-full p-8"> 
        {{ include('index/dasboardCards.html.twig') }}

        {{ include('includes/_card.html.twig', {
            'card_class': "mt-6",
            'card_title': card.getTitle("index.scores.table.title.label"),
            'card_content': _self.getLatestScores(latest_scores)
        }) }}
    </div>

{% endblock %}
