{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block body %}
    <div id="index"></div>
{% endblock %}
